* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Volkhov, serif;
}

body {
  background-color: rgb(240, 240, 240);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 80%;
  margin: auto 15px;
}

#trybewarts-header-title {
  color: white;
  font-size: 3rem;
  align-self: center;
}

.trybewarts-login {
  display: flex;
  justify-content: space-evenly;
}

main {
  display: flex;

}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.input-form {
  width: 30%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#button-form-validate {
  width: 30%;
  background-color: rgb(114, 41, 187);
  color: white;
  border-radius: 9px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.title-form {
  font-size: 1.8rem;
  padding: 25px;
}

.main-container {
  display: flex;
  align-content: space-between;
}

.container-left {
  text-align: center;
}

.input-form-container-left {
  width: 35%;
  padding: 15px;
  border: none;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 15px;
}

#house {
  width: 30%;
  padding: 15px;
  border: none;
  background-color: white;
  border-radius: 8px;
}

hr {
  width: 75%;
  margin-left: 15%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.email-house-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-container {
  display: flex;
  width: 70%;
  align-self: center;
}

.label-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.element-label {
  margin-bottom: 20px;
}


.label-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: justify;
}

.labels-right-container {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

.label-title {
  margin-bottom: 15px;
}

.element-right-label {
  margin-right: 20px;
}

.avaliable-container {
  display: flex;
  align-self: center;
}

.rate {
  margin-right: 8px;
}

.checkbox-info {
  display: flex;
  margin-left: 45px;
}

#agreement {
  margin-left: 5px;
}

#submit-btn {
  background-color: rgb(114, 41, 187);
  color: white;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.footer {
  height: 50px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 50px;
}

.textarea-container {
  display: flex;
  margin-left: 45px;
  text-align: start;
}

#textarea-input {
  width: 150%;
  height: 150px;
  text-align: end;
}
